<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="hana" connectionString="Server=172.16.26.212:39015;UID=SYSTEM;Password=Mjm007@1234;Current Schema=SYSTEM"/>
    <add name="sqlserver" connectionString="server=172.16.26.85\b2; database=master; user id=sa; password=sap@123"/>
    <!--<add name="hana" connectionString="Server=172.16.26.212:39015;UID=SYSTEM;Password=Mjm007@1234;Current Schema=SYSTEM"/>-->
  </connectionStrings>
</configuration>