<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hana" connectionString="Server=172.16.26.212:39015;UID=SYSTEM;Password=Mjm007@1234;Current Schema=SYSTEM" />
    <add name="sqlserver" connectionString="server=172.16.26.85\b2; database=master; user id=sa; password=sap@123" />
    <add name="mysql" connectionString="User ID=root;Password=sap@123;Host=172.16.26.85;Port=3306;Database=myDataBase;Direct=true;Protocol=TCP;Compress=false;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" />
    <add name="postgres" connectionString="Server=172.16.26.85;Port=5432;Database=postgres;User Id=postgres;Password=sap@123; " />
    <!--<add name="hana" connectionString="Server=172.16.26.212:39015;UID=SYSTEM;Password=Mjm007@1234;Current Schema=SYSTEM"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>